.nav {
  background-color: #f05454;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.nav a {
  margin: 0 3rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav a.active {
  border-bottom: 3px solid white;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0;
}

.home-form button {
  margin-top: 1.5rem;
  padding: 5px 10px;
}

.select {
  display: flex;
  flex-direction: column;
}

.select select {
  margin: 1rem;
  width: 130px;
}
label {
  width: 150px;
  padding-left: 1rem;
}

.select-klasse {
  border-bottom: 2px solid #ffffff;
}

.select-klasse,
.select-grad {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 3px;
}

.zauber {
  background-color: #e8e8e8;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  max-width: 430px;
  box-shadow: 15px 15px 30px #d3d3d3, -15px -15px 30px #fdfdfd;
}

.zauber p {
  font-size: 0.8rem;
}

.alle-zauber {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h3 {
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  line-height: 1rem;
}

.inhaltsverzeichnis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inhaltsverzeichnis ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.inhaltsverzeichnis ul li {
  margin-bottom: 0.4rem;
}

.inhaltsverzeichnis a {
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.rasse-box {
  background-color: #e8e8e8;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 15px 15px 30px #d3d3d3, -15px -15px 30px #fdfdfd;
}

.rasse-box span {
  text-decoration: underline;
  font-size: 1.5rem;
  display: block;
  margin-top: 2rem;
}

.rasse-box h3 {
  margin-bottom: 1rem;
}

.rasse-box p {
  line-height: 1.2rem;
}

.völker {
  background-color: #ffffff1d;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.völker h3 {
  padding: 3rem 0 1rem;
}

.völker h2 {
  padding-left: 2.5rem;
  padding-top: 2rem;
  margin: 0;
}

.völker p {
  line-height: 1.2rem;
}

.völker ul {
  padding-left: 0;
  margin-bottom: 3rem;
  padding: 0 2.5rem;
}

.völker li {
  margin-bottom: 0.5rem;
  list-style-type: none;
}

.völker button {
  position: fixed;
  bottom: 20px;
  left: 2.5rem;
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.völker .select-volk {
  margin-top: 3rem;
  background-color: #e8e8e8;
  border-radius: 3px;
}

.volk {
  margin-bottom: 3rem;
  padding: 0 2.5rem;
  max-width: 800px;
}

.volk img {
  width: 100%;
  margin-bottom: 2rem;
}

.volk table {
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.3vw;
}

/* #BARBAR table {
  font-size: 10%;
}

#BARDE table {
  font-size: 0.3rem;
}

#DRUIDE table {
  font-size: 0.4rem;
} */

.volk table th {
  line-height: 0.8rem;
}

.volk table tr {
  line-height: 0.8rem;
}

.volk table td {
  text-align: center;
  padding: 2px 5px;
}

.volk table tr:nth-child(odd) {
  background-color: rgb(172, 211, 172);
}

p span {
  text-decoration: underline;
  display: block;
  margin-top: 2rem;
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {
  .navbar-desktop {
    display: flex;
  }
  .navbar-desktop ul {
    display: flex;
  }
  .navbar-desktop ul li {
    list-style-type: none;
    color: #ffffff;
    padding-bottom: 3px;
  }
  .navbar-desktop a {
    text-decoration: none;
    margin: 0 1.5rem;
  }
  .navbar-desktop a:hover {
    border-bottom: 3px solid #ffffff;
  }
  #menuToggle {
    display: none;
  }
}
